/* <keyframes: >*/

/* animacion para img "icons8-nuevo-post-48" (class="gif"- se encuentra en el div class="footer")*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 100%;
  }
  50% {
    opacity: 30%;
  }
  100% {
    transform: rotate(365deg);
    opacity: 100%;
  }
}

/* efecto para fondo de la info "sobre mi" - animation: (bg::after) */
@keyframes opacity {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 96%;
  }
  100% {
    opacity: 100%;
  }
}

/* efecto para las letras de la info "sobre mi" - animation: (.info-photo) */

@keyframes transparent {
  0% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}

/* @keyframes frame1, frame2, frame3, frame4 ,
animation: (.portada span:nth-child(1), 
.portada span:nth-child(2), 
.portada span:nth-child(3), 
.portada span:nth-child(4))

efecto marco cuadrado de la portada*/

/* </keyframes: >*/

/*< efecto parallax > */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

section {
  padding: 20px;
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c9ecff;
}

body {
  background-color: #000e1e;
  max-width: fit-content;
}

.footer {
  justify-content: flex-start;
}

.no-parallax {
  background-color: #000e1e;
  z-index: 999;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.bg::after {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    /*<  efecto parallax >*/
      url("../index-portada/src/img-background/frame2.avif"); /*<  imagen de fondo >*/
  animation: 2s opacity ease infinite; /* para darle efecto al fondo de la info "sobre mi"*/
  background-size: cover; /*< parallax: ajustar la vista de la imagen >*/
  background-position: center; /*<efecto parallax: centrarla posicion de la imagen >*/
}

.content {
  height: 100vh;
  overflow-x: hidden;
  perspective: 2px;
}
/*</efecto parallax >*/

/*<estilo al menu>*/
.menu {
  padding: 0;
  position: fixed;
  text-align: center;
  z-index: 9999;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  font-size: 16px;
  background-color: #000e1e;
  opacity: 95%;
  height: 80px;
  width: 99.99%;
}

a {
  text-decoration: none; /* quita el subrayado e la etiueta <a>*/
  color: #faffff;
  text-align: center;
}

li {
  list-style-type: none; /* quita el punto de la etiueta <li>*/
  color: #d6e5e5;
  padding: 10px 15px;
}

.menu > li > a {
  display: flex;
  align-items: center;
  span {
    font-weight: 900;
    padding: 10px;
  }
}

.icons {
  display: flex;
  align-items: center;
  margin: 20px;
  box-shadow: none;
}

.icons > i {
  display: flex;
  align-items: center;
}

.icons img {
  width: 55px;
  height: 55px;
  border-radius: 4px;
}

/* <efecto a las imagenes para que al hacer hoover se vea gif>*/
.icons img:nth-child(2) {
  display: none;
}

.icons:hover img:nth-child(1) {
  display: none;
}

.icons:hover img:nth-child(2) {
  display: flex;
}
/*</efecto a las imagenes para que al hacer hoover se vea gif>*/

li:hover a {
  color: #fc67f4;
}
.icons:hover {
  /* display: flex;
  align-items: center; */
  opacity: 90%;
  cursor: pointer;
  list-style-type: none;
  font-style: normal;
  font-weight: 900;
}
/*</estilo al menu>*/

/* < estilo portada efecto marco>*/
.portada {
  margin-top: 80px;
  position: relative;
  font-size: 5rem;
  padding: 40px;
  width: 1200px;
  overflow: hidden;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}

.titulo {
  font-weight: 900;
  background: linear-gradient(90deg, #0a43ee, #f537f6); /*letras de nombre*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nombre {
  font-size: 7rem; /*letras de nombre*/
  letter-spacing: -12px; /*letras de nombre*/
  word-spacing: 10px; /*letras de nombre*/
}

@keyframes frame1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.portada span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, white);
  animation: frame1 6s linear infinite;
  box-shadow: 0px 4px 16px white;
}

@keyframes frame2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
.portada span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, white);
  animation: frame2 6s linear infinite;
  box-shadow: 0px 4px 16px #c9ecff;
}

@keyframes frame3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.portada span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, transparent, white);
  animation: frame3 6s linear infinite;
  box-shadow: 0px 4px 16px #c9ecff;
}

@keyframes frame4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.portada span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to top, transparent, white);
  animation: frame4 6s linear infinite;
  box-shadow: 0px 4px 16px #c9ecff;
}
/* </ estilo portada efecto marco>*/

/*<estilo a la info y a la foto-perfil>*/

.wrapper-info {
  display: flex;
  margin: auto;
  width: 60%;
}

.info-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  gap: 50px;
  animation: 3s ease transparent;
  margin: auto;
}

.info {
  margin: auto;
  line-height: 2;
  align-items: center;
}

.sobre-mi {
  width: fit-content;
  padding-right: 10px;
  font-size: 4rem;
  letter-spacing: -6px;
  word-spacing: 4px;
}

.info-photo p {
  transition: 1.5s;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3;
  max-width: 400px;
}

.photo img {
  border-radius: 5px;
  box-shadow: 1px 1px 16px #3b6579;
  width: 500px;
}
/*</estilo a la info y a la foto-perfil >*/

/*<estilo al footer>*/
.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wrapper > .contactame {
  font-size: 30px;
}

.contactame > ul > li > a {
  display: flex;
  align-items: flex-start;
  align-items: center;
  span {
    padding-left: 10px;
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.gif {
  animation: 1s ease spin infinite;
}

.formulario {
  width: 50%;
  margin-right: 110px;
}

.contenedor-formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  gap: 30px;
  padding: 30px;
  font-size: 1.4rem;

  label {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
  }
  input {
    height: 40px;
  }

  input,
  textarea {
    font-size: 1.3rem;
    border-radius: 8px;
    background-color: #8ab4ca;
    width: 100%;
    padding-left: 10px;
  }
}

.email,
.consulta {
  grid-column-start: span 2;
}

.consulta {
  grid-row-start: span 2;
}

button {
  grid-column: 2/3;
  border-radius: 8px;
  width: 150px;
  height: 50px;
  justify-self: end;
  font-size: 1.2rem;
  cursor: pointer;
  &:hover {
    color: white;
    background-color: #fc67f4;
  }
}

/*</estilo al footer>*/

@media screen and (max-width: 1350px) {
  .portada {
    padding: 20px;
    width: 85%;
  }

  .info-photo {
    max-width: 80%;
  }
}

@media screen and (max-width: 1200px) {
  /* resolucion para dispositivos grandes*/

  .portada {
    padding: 15px;
    width: 90%;
  }
  .info-photo {
    max-width: 95%;
  }

  .photo img {
    width: 480px;
  }

  .sobre-mi {
    font-size: 3rem;
    word-spacing: 3px;
  }

  .info-photo p {
    font-size: 28px;
    max-width: 400px;
  }
  .icons > a > span {
    display: none;
  }

  .formulario {
    width: 75%;
  }
}

@media screen and (max-width: 1050px) {
  .portada {
    font-size: 5rem;
  }

  .nombre {
    font-size: 6.5rem;
  }
}
@media screen and (max-width: 992px) {
  /* resolucion para portatiles (min:768px approx)*/

  .portada {
    max-width: 100%;
    font-size: 4.5rem;
  }

  .nombre {
    font-size: 5.5rem;
  }

  /* el efecto paralax no queda del todo fino en modo mobil, cambio a background-size: contain para que se vea mejor*/
  .bg::after {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./src/img-background/frame2.avif");
    background-repeat: round;
    background-size: cover;
  }
  .menu {
    height: fit-content;
    opacity: 80%;
  }
  .icons img {
    width: 70px;
    height: 70px;
  }

  .info-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: center;
    text-align: center;
    max-width: 100%;
  }

  .info-photo > .photo > img {
    padding: 10px;
    margin: auto;
    width: 70%;
  }

  .sobre-mi {
    font-size: 5rem;
    word-spacing: 3px;
  }

  .info-photo p {
    font-size: 30px;
    max-width: 600px;
    text-align: left;
  }

  .wrapper {
    margin: auto;
    flex-direction: column-reverse;
  }
  .contactame > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
  }

  .formulario {
    width: 100%;
  }
  .nombre-formulario,
  .apellido {
    grid-column: span 2;
  }
}

@media screen and (max-width: 768px) {
  /* maxima resolucion para tablets (min: 576px approx.)*/

  .portada {
    font-size: 3.5rem;
  }

  .nombre {
    font-size: 4.5rem;
  }

  .icons img {
    margin-top: 20px;
    width: 60px;
    height: 60px;
  }

  .sobre-mi {
    font-size: 4rem;
    word-spacing: 3px;
  }

  .info-photo p {
    font-size: 25px;
    max-width: 90%;
  }
}

@media screen and (max-width: 627px) {
  /* resolucion de mobiles (min: 360px) */

  .icons img {
    margin-top: 10px;
    width: 50px;
    height: 50px;
  }

  .menu {
    flex-wrap: wrap;

    li {
      margin: 0;
    }
    img {
      margin: 0;
    }
  }

  .portada {
    font-size: 28px;
  }

  .nombre {
    font-size: 40px;
    letter-spacing: -6px; /*letras de nombre*/
    word-spacing: 8px; /*letras de nombre*/
  }
  .info {
    padding: 20px;
  }

  .info-photo {
    gap: 20px;
  }

  .photo {
    text-align: center;
    img {
      width: 80%;
    }
  }

  .sobre-mi {
    font-size: 40px;
    word-spacing: 6px;
    margin: auto;
  }

  .info-photo p {
    font-size: 20px;
    max-width: 85%;
  }

  .no-parallax .footer {
    height: 200px;
  }
  .footer {
    justify-content: center;
  }

  .wrapper {
    padding: 0;
    margin: 0;
    display: flex;
    .contactame > ul {
      padding-left: 0;
      display: flex;
      li {
        padding: 0;
      }
    }
  }
}
