/*< para conseguir el efecto parallax > */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

section {
  padding: 20px;
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c9ecff;
}

.footer {
  justify-content: flex-start;
  height: 50vh;
}

.no-parallax {
  background-color: #000e1e;
  z-index: 999;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}
@keyframes opacity {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 95%;
  }
  100% {
    opacity: 100%;
  }
}

.bg::after {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../index-portada/src/img-background/frame2.avif");
  animation: 2s opacity ease infinite;
  background-size: cover;
  background-position: center;
}
/*</ para conseguir el efecto parallax >*/

.content {
  height: 100vh;
  overflow-x: hidden;
  perspective: 2px;
}

/*<estilo al menu>*/
.menu {
  padding: 0;
  position: fixed;
  text-align: center;
  z-index: 9999;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-evenly;
  font-size: 16px;
  background-color: #000e1e;
  opacity: 95%;
  height: 80px;
  width: 99%;
}

a {
  text-decoration: none;
  color: #faffff;
  text-align: center;
}

li {
  list-style-type: none;
  color: #d6e5e5;
  padding: 10px 15px;
}

.menu > li > a {
  display: flex;
  align-items: center;
  span {
    font-weight: 900;
    padding: 10px;
  }
}

.icons {
  display: flex;
  align-items: center;
  margin: 10px;
  box-shadow: none;
}

.icons > i {
  display: flex;
  align-items: center;
}

.icons img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.icons img:nth-child(2) {
  display: none;
}

.icons:hover img:nth-child(1) {
  display: none;
}

.icons:hover img:nth-child(2) {
  display: flex;
}

li:hover a {
  color: #fc67f4;
  /* font-weight: 900; */
}
.icons:hover {
  display: flex;
  align-items: center;
  opacity: 90%;
  cursor: pointer;
  list-style-type: none;
  font-style: normal;
  font-weight: 900;
}

/*</estilo al menu>*/

/* estilo a la portada efecto marco*/

.portada {
  position: relative;
  font-size: 6rem;
  padding: 70px;
  width: 75%;
  overflow: hidden;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}

.titulo {
  font-weight: 900;
  background: linear-gradient(90deg, #3463ee, #f537f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nombre {
  font-size: 7rem;
  letter-spacing: -12px;
  word-spacing: 10px;
}

.sobre-mi {
  width: fit-content;
  padding-right: 10px;
  font-size: 4rem;
  letter-spacing: -6px;
  word-spacing: 4px;
}

@keyframes frame1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.portada span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, white);
  animation: frame1 6s linear infinite;
  box-shadow: 0px 4px 16px white;
}

@keyframes frame2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
.portada span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, white);
  animation: frame2 6s linear infinite;
  box-shadow: 0px 4px 16px #c9ecff;
}

@keyframes frame3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.portada span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, transparent, white);
  animation: frame3 6s linear infinite;
  box-shadow: 0px 4px 16px #c9ecff;
}

@keyframes frame4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.portada span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to top, transparent, white);
  animation: frame4 6s linear infinite;
  box-shadow: 0px 4px 16px #c9ecff;
}

/*<estilo estilo a la info y a la foto >*/

@keyframes transparent {
  0% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}

.wrapper-info {
  display: flex;
  margin: auto;
  width: 60%;
}

.info-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  gap: 50px;
  animation: 3s ease transparent;
  margin: auto;
}

.info {
  margin: auto;
  line-height: 2;
  align-items: center;
  padding-left: 20px;
}

.info-photo p {
  transition: 1.5s;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3;
}

.photo img {
  border-radius: 5px;
  box-shadow: 1px 1px 16px #3b6579;
  width: 500px;
}
/*</estilo a la info y a la foto >*/

.wrapper > .contactame {
  font-size: 35px;
  font-family: "Rubik Scribble", system-ui;
  font-weight: 800;
  font-style: normal;
  color: #e4eaf1;
  padding: 10px;
  font-size: 16px;
}

.contactame > ul > li > a {
  display: flex;
  align-items: flex-start;
  span {
    padding-left: 10px;
    font-size: 1.5rem;
    font-weight: 700;
  }
}

@keyframes spin {
  /*para aplicar a la imagen de icons8-nuevo-post-48 para darle animacion*/
  0% {
    transform: rotate(0deg);
    opacity: 100%;
  }
  50% {
    opacity: 30%;
  }
  100% {
    transform: rotate(365deg);
    opacity: 100%;
  }
}
.gif {
  animation: 1s ease spin infinite;
}

@media screen and (max-width: 1050px) {
  span {
    font-size: 18px;
  }
}
@media screen and (max-width: 900px) {
  span {
    display: none;
  }
  .info-photo {
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
  }

  .bg::after {
    /* el efecto paralax no queda del todo fino en modo mobil, cambio a background-size: contain para que se vea mejor*/
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./src/img-background/frame2.avif");
    background-size: contain;
  }
}

@media screen and (max-width: 650px) {
}
