@keyframes fondo {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 80%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  background: #0e0117;
  margin-top: 20px;
}

/* < para posicionar el video en el fondo de la pagina >*/

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 99.99vw;
  height: 99.99vh;
  object-fit: fill;
}

.capa {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%;
  height: 100%; */
  /* background: #161414; sin color mejor*/
  opacity: 0.5;
  mix-blend-mode: overlay; /*mix-blend-mode: tiene muchisimas propiedades, pero para los layouts se utiliza la propiedad overlay - oscurece o aclara la capa dependiendo del color fondo*/
}
/* </ para posicionar el video en el fondo de la pagina > */

main {
  border: none;
}

.inicio a {
  padding: 20px;
  width: 90%;
  height: 60px;
  position: relative; /* < para posicionar la barra de inicio por encima del video >*/
  z-index: 2; /* < para posicionar la barra de inicio por encima del video >*/
  display: flex;
  justify-content: center;
  margin: auto;
  text-decoration: none;
  opacity: 80%;
  background: linear-gradient(#2c0849, #5c1296);

  span {
    display: flex;
    align-items: center;
    width: 300px;
    font-size: 30px;
    color: #969299;
    text-shadow: 2px 8px 16px #18032c;
    font-weight: 900;
    i {
      padding-right: 10px;
    }
  }
  span:hover {
    display: flex;
    align-items: center;
    color: white;
    text-shadow: 2px 8px 16px #18032c;
    opacity: 100%;
  }

  span > i > img:nth-child(2) {
    display: none;
  }

  span:hover > i > img:nth-child(1) {
    display: none;
  }

  span:hover > i > img:nth-child(2) {
    display: block;
  }
}

/* < estilo contenedor >*/

.container {
  height: 800px;
  padding: 20px;
  color: aliceblue;
  display: flex;
  position: relative;
  z-index: 2;
}

.html,
.css,
.js {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 200px;
  padding: 40px;
  border: 4px solid aliceblue;

  margin: auto;
  background-color: rgb(54, 59, 65);
  opacity: 85%;
  font-size: 30px;
}

.html:hover,
.css:hover,
.js:hover {
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: #e57aeb;
  opacity: 100%;
  color: #ffffff;
  text-shadow: 2px 8px 6px #0e0117;
  border: 5px solid #4f2472;
  opacity: 90%;
  font-size: 50px;
  gap: 20px;

  a {
    cursor: pointer;
    text-decoration: none;
    padding: 30px;
    display: block;
    color: #ffffff;
    text-shadow: 2px 8px 6px #dabeec;
    text-shadow: none;
    font-size: 30px;
    font-weight: 700;
    animation: 2s ease boing infinite;
  }
}

@keyframes boing {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

.js > i :nth-child(2) {
  display: none;
}

.js:hover img:nth-child(1) {
  display: none;
}

.js:hover img:nth-child(2) {
  display: flex;
  flex-direction: column;
  border-radius: 5px;

  .certificado img {
    display: flex;
  }
}

.html:hover > i > .gif,
.css:hover > i > .gif {
  animation: 5s ease spin infinite; /* le da estilo al la imagen para convertirla en "gif"*/
}

.html:hover img,
.css:hover img {
  border-radius: 5px;
  display: flex;
  animation: none;
}

.certificado img {
  max-width: 250px;
  border: 5px solid;
  box-shadow: 2px 8px 6px #0e0117;
  display: none;
}

a {
  display: none;
}

/* </ estilo contenedor >*/

@media screen and (max-width: 1500px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-evenly;
  }
  .html,
  .css,
  .js {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .inicio a {
    font-size: 22px;
  }

  a:hover {
    font-size: 22px;
  }

  .html,
  .css,
  .js {
    font-size: 20px;
  }

  .certificado img {
    max-width: 80vw;
  }
}
